<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


<script>
  function reload() {
    window.location.reload();
  }
</script>
<script type="text/javascript">
  function deleteAppoinment(foundUser) {
    
    console.log("works");
   const foundUserId = foundUser.lastElementChild.innerHTML;



   /*$.ajax({
    url : "http://localhost:3000/deleteAppointment",
    type: "POST",
    data : formData,
    success: function(data, textStatus, jqXHR)
    {
        //data - response from server
    },
    error: function (jqXHR, textStatus, errorThrown)
    {
 
    }
});
*/


$.post("http://localhost:3000/deleteAppointment",
    {id: foundUserId},
    function(data, textStatus, jqXHR)
    {
      console.log(data);
          //data: Received from server
    });
  
  /*  $.post("http://localhost:3000/deleteAppointment", {
      userId: JSON.stringify({
        id: foundUserId,
      }),
      function(data, status) {
            console.log(status)
        console.log("hello")
       

        //window.location.reload();
       
 // document.getElementById("supprimer1").remove();  
  //$("#supprimer1").attr("hidden",true); 
//console.log($("#supprimer1").attr("data-id") )  
      
      },
    });*/
  }

 
</script>

</body>
</html>