<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


<script>
  function reload() {
    window.location.reload();
  }
</script>
<script type="text/javascript">
  function deleteAppoinment(foundUser) {
    console.log("works");
    const foundUserId = foundUser.lastElementChild.innerHTML;
    console.log(foundUserId);
    $.post("http://localhost:3000/deleteAppointment", {
      userId: JSON.stringify({
        id: foundUserId,
      }),
      function(data, status) {
        console.log(data);

        //window.location.reload();
      },
    });
  }

 
</script>

</body>
</html>