<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


<script>
  function reload() {
    window.location.reload();
  }
</script>
<script type="text/javascript">
  function deleteAppoinment(foundUser) {
    
    console.log("works");
   const foundUserId = foundUser.lastElementChild.innerHTML;






$.post("https://cyan-outrageous-rooster.cyclic.app/deleteAppointment",
    {id: foundUserId},
    function(foundUsers, textStatus, jqXHR) {
      
      $("#table").empty();
      $("#table2").empty();
      
      let num = 1;
      
      
      $.each(foundUsers, function (index, foundUser) {

            if(foundUser.table1){
            const deleteButton = foundUser.deleteButton
              ? "<button class='btn-primary btn-sm'>supprimer</button>"
              : "";

            populateTable = `


              <tr  onclick="deleteAppoinment(this)">
                <td class="rank"> ${num++}</td>

                <td class="team"> ${foundUser.name}</td>

                <td class="points">
                  ${foundUser.time}  ${deleteButton}
                </td>
                <td class="rank " hidden>${foundUser._id}</td>
              </tr>


                `;

                $("#table").append(populateTable)   
      
              }else{

                const deleteButton = foundUser.deleteButton
              ? "<button class='btn-primary btn-sm'>supprimer</button>"
              : "";

            populateTable = `


              <tr  onclick="deleteAppoinment(this)">
                <td class="rank"> ${num++}</td>

                <td class="team"> ${foundUser.name}</td>

                <td class="points">
                  ${foundUser.time}  ${deleteButton}
                </td>
                <td class="rank " hidden>${foundUser._id}</td>
              </tr>


                `;

                $("#table2").append(populateTable)   
      



              }
            }
              );
      
              
    
    });
  
 
  }

 
</script>

</body>
</html>