<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=Press+Start+2P"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
      integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="styles.css" />
    
    <title>Tchatchou-Game</title>
  </head>
  <body id="welcomePage" class="" style="background-color: bisque">



<h1 style="margin-top: 50px">
  <span style="color: red; font-weight: bold"></span>
</h1>
<h1>Rendez-Vous Présentoire<span style="color: red; font-weight: bold"> </span></h1>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-5 col-md-10 col-lg-12">
      <form action="/logout" method="get">
        <button
          style="
            position: relative;
            left:150px;
            bottom:10px;
            height: 40px;
            width: 80px;
            border-top-width: 0px;
            border-bottom-width: 0px;
            border-left-width: 0px;
            border-right-width: 0px;
          "
          class=" btn-danger  btn-sm"
          type="submit"
        >
          logout
        </button>
      </form>
    </div>
  </div>
</div>